@using PassAppDev.ViewModels
@model IEnumerable<PassAppDev.ViewModels.BookViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
 <form>
      <input type="text" name="keyWord" placeholder="Search by Category" />
       <button type="submit" class="btn btn-primary">Search</button>
       </form>
	<a asp-controller="Categories" asp-action="Index" class="btn btn-info">
		Manage Categories
	</a>
	<a asp-controller="Books" asp-action="Index" class="btn btn-info">
		Manage Books
	</a>
	<a asp-controller="CartBooks" asp-action="Index" class="btn btn-info">
		Shopping Cart
	</a>
	<a asp-controller="Orders" asp-action="Index" class="btn btn-info">
		View List of Orders (For Customer)
	</a>
	<a asp-controller="Stores" asp-action="Index" class="btn btn-info">
		View List of Orders (For Store Owner)
	</a>
</div>

<div class="card-deck" style="padding: 5% 9%;">
@foreach (var item in Model)
{
<div class="card border-secondary" style="width:20%;" >
	<img 
    class="card-img-top" style="height:60%; object-fit:cover"
    src="@item.ImageUrl" 
    alt="image">
	<div class="card-body">
		<h4 class="card-title">@item.Title</h4>
		<h5 class="card-text">Author: @item.Author </h5>
		<h5 class="card-text">Type: @item.Category </h5>
		<h5 class="card-text">Price: @item.Price </h5>
		<a style="margin-top:20%;" asp-controller="Home" asp-action="BookDetails" asp-route-id=@item.Id class="btn btn-info">
			Details
		</a>
	</div>
</div>
}
</div>
