@using PassAppDev.ViewModels
@model PassAppDev.ViewModels.BookNotificationViewModel
@using PassAppDev.Utils
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">

    <div class="text-center">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="height:27vw;object-fit:cover;">
                    <img class="d-block w-100 carousel-img" src="https://tinyurl.com/5n79nb34" alt="First slide">
                </div>
                <div class="carousel-item" style="height:27vw;object-fit:cover;">
                    <img class="d-block w-100 carousel-img" src="https://tinyurl.com/5fr6zj2y" alt="Second slide">
                </div>
                <div class="carousel-item" style="height:27vw;object-fit:cover;">
                    <img class="d-block w-100 carousel-img" src="https://tinyurl.com/2hawzzdd" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        @if (!User.Identity.IsAuthenticated)
        {

            <div class="text-wrap align-content-center" style="width: 100%">
                <h1 id="greeting"></h1>
            </div>


            <div class="row card-deck">

                @foreach (var item in Model.BookViewModels)
                {
                    <div class="col-sm-4">
                        <img class="card-img-top border-top border-right border-left" style="margin-top:10%; height:65vh; object-fit:cover;"
                     src="@item.ImageUrl"
                     alt="image">
                        <div class="card-body text-left border-right border-left border-bottom">
                            <a asp-controller="Home" asp-action="BookDetails" asp-route-id=@item.Id class="card-link book-title">
                                <h2 class="card-title"> @item.Title</h2>
                            </a>
                            <h5 class="card-text text-muted book-author">Author: @item.Author </h5>
                            <h5 class="card-text text-muted book-price">Price: @item.Price VND</h5>
                            <div class="d-flex justify-content-around" style="margin-top:1rem;">
                                <a asp-controller="CartBooks" asp-action="AddToCart" asp-route-id=@item.Id class="btn btn-info rounded-pill float-left cart-button">
                                    <i class="bi bi-cart-plus-fill"></i> Buy now
                                </a>

                            </div>
                        </div>

                    </div>
                }

            </div>
        }
        else if (User.IsInRole(Role.CUSTOMER))
        {
            <div class="text-wrap align-content-center" style="width: 100%;">
                <h1 id="greeting"></h1>
                <p class="greeting-by-role">You are signed in as a @Role.CUSTOMER</p>
            </div>

            <div class="row card-deck">

                @foreach (var item in Model.BookViewModels)
                {
                    <div class="col-sm-4">
                        <img class="card-img-top border-top border-right border-left" style="margin-top:10%; height:70vh; object-fit:cover;"
                     src="@item.ImageUrl"
                     alt="image">
                        <div class="card-body text-left border-right border-left border-bottom">
                            <a asp-controller="Home" asp-action="BookDetails" asp-route-id=@item.Id class="card-link book-title">
                                <h2 class="card-title"> @item.Title</h2>
                            </a>
                            <h5 class="card-text text-muted book-author">Author: @item.Author </h5>
                            <h5 class="card-text text-muted book-price">Price: @item.Price VND</h5>
                            <div class="d-flex justify-content-around" style="margin-top:1rem;">
                                <a asp-controller="CartBooks" asp-action="AddToCart" asp-route-id=@item.Id class="btn btn-info float-left cart-button">
                                    <i class="bi bi-cart-plus-fill"></i> Add to cart
                                </a>

                            </div>
                        </div>

                    </div>
                }

            </div>
        }
        else if (User.IsInRole(Role.STOREOWNER))

        {
            <div class="text-wrap align-content-center" style="width: 100%;">
                <h1 id="greeting"></h1>

                <div class="d-flex justify-content-center">
                    <div class="dropdown">
                        <a style="font-size:2vw;"
                        id="dropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                            <i class="bi bi-bell-fill"></i>
                        </a>
                        <table class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                            @foreach (var item in Model.Notifications)
                            {
                                <tr class="dropdown-item" style="width:50vw;">
                                    @if (item.Decision == "APPROVED")
                                    {

                                        <td class="alert alert-success text-wrap " style="width:85%;">
                                            <i class="bi bi-check-circle-fill"></i> Your request for @item.Action the category "@item.CategoryName" has been <b>@item.Decision!</b>
                                        </td>
                                        <td class="text-muted text-wrap text-cent" style="padding-left:2%;">@item.NotifiedAt.ToShortTimeString() @item.NotifiedAt.ToShortDateString()</td>
                                    }
                                    else
                                    {
                                        <td class="alert alert-danger text-wrap " style="width:85%;">
                                            <i class="bi bi-x-circle-fill"></i> Your request for @item.Action the category "@item.CategoryName" has been <b>@item.Decision!</b>

                                        </td>
                                        <td class="text-muted text-wrap text-cent" style="padding-left:2%;">@item.NotifiedAt.ToShortTimeString() @item.NotifiedAt.ToShortDateString()</td>
                                    }
                                </tr>
                            }
                        </table>
                       
                    </div>
                     <p class="greeting-by-role">You are signed in as a Store owner</p>
                </div>
                

            </div>

            <a asp-controller="Books" asp-action="Index" class="btn btn-info">
                Manage Books
            </a>
            <a asp-controller="Categories" asp-action="Index" class="btn btn-info">
                Manage Categories
            </a>
            <a asp-controller="Stores" asp-action="SearchUser" class="btn btn-info">
                List of Customers
            </a>
            <a asp-controller="Stores" asp-action="Index" class="btn btn-info">
                List of Customer Orders
            </a>


        }
        else if (User.IsInRole(Role.ADMIN))
        {
            <h1>Welcome To The Page For Administrator</h1>
            <a asp-controller="Admins" asp-action="Customers" class="btn btn-info">
                Manage Customers
            </a>
            <a asp-controller="Admins" asp-action="StoreOwners" class="btn btn-info">
                Manage Store Owners
            </a>
            <a asp-controller="Admins" asp-action="Index" class="btn btn-info">
                Category Request
            </a>
        }
    </div>
</div>
