@model Book

<div class="form-group">
  <a asp-controller="Books" asp-action="Index" class="btn btn-primary">
    Back to Index
  </a>
</div>
    <img src="@ViewBag.ImageData"/>
    <h4>@Model.Title</h4>
    <p>Author: @Model.Author</p>
    <p>Price: @Model.Price</p>
    <p>Category: @Model.Category.Name</p>
    <p>Description: @Model.Description</p>