@model Book

<div class="form-group">
  <a asp-controller="Books" asp-action="Index" class="btn btn-primary">
    Back to Index
  </a>
</div>

    <h4>@Model.Title</h4>
    <p>Created At: @Model.Author</p>
    <p>Status: @Model.Price</p>
    <p>Category: @Model.Category.Name</p>
    <p>Category: @Model.Description</p>