@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<PassAppDev.Models.CartBook>

<h1>Shopping Cart</h1>

<table class="table">
  <thead>
		<tr>
			<th scope="col">User ID</th>
			<th scope="col">Book ID</th>
			<th scope="col">Tile</th>
			<th scope="col">Price</th>
			<th scope="col">Quantity</th>
			<th scope="col">Subtotal</th>
			<th scope="col">Action</th>
		</tr>
  </thead>
  <tbody>
    @foreach (var item in Model){
			float total = 0;
			int totalQty = 0;
		<tr>
			<th scope="row">@item.ApplicationUserId</th>
			<td>@item.BookId</td>
			<td>@item.Book.Title</td>
			<td>@item.Price</td>
			<td>@item.Quatity</td>
			@{
				float subtotal = @item.Price * @item.Quatity;
				total += subtotal;
				totalQty += item.Quatity;
			}
			<td>@subtotal</td>
			<td>
				<a asp-controller="CartBooks" asp-action="Delete" asp-route-id=@item.Id class="btn btn-danger"
					 onclick="return confirm('Are you sure you want to delete this book: @item.Book.Title?')">
					Delete
				</a>
			</td>
		</tr>
		<tr>
			<td colspan="4"></td>
			<td>@totalQty</td>
			<td colspan="2">@total</td>
		</tr>
  }
  </tbody>
</table>
<a asp-controller="Orders" asp-action="Order" class="btn btn-success"> 
   Confirm Order
</a>