@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<PassAppDev.Models.OrderedBook>


<h1>List of Orders Book Detail</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Book Title</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>

        </tr>
    </thead>
    <tbody>
        @{
            float total = 0;
            int totalQty = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderId</td>
                <td>@item.Book.Title</td>
                <td>@item.Book.Author</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                @{
                    float subtotal = @item.Price * @item.Quantity;
                    total += subtotal;
                    totalQty += item.Quantity;
                }
                <td>@subtotal</td>
            </tr>

        }
        <tr>
            <th style="font-size:1.5vw;">Total:</th>
            <td colspan="3"></td>
            <td>@totalQty</td>
            <td colspan="2">@total</td>
        </tr>
    </tbody>
</table>
