@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<PassAppDev.Models.OrderedBook>


<h1 class="text-center text-capitalize" style="color: #034ea2; font-size:3.5vw;">Book Order Detail</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-center" scope="col">Order ID</th>
            <th class="text-center" scope="col">Book Title</th>
            <th class="text-center" scope="col">Author</th>
            <th class="text-center" scope="col">Price</th>
            <th class="text-center" scope="col">Quantity</th>
            <th class="text-center" scope="col">Subtotal</th>

        </tr>
    </thead>
    <tbody>
        @{
            float total = 0;
            int totalQty = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.OrderId</td>
                <td class="text-center">@item.Book.Title</td>
                <td class="text-center">@item.Book.Author</td>
                <td class="text-center">@item.Price</td>
                <td class="text-center">@item.Quantity</td>
                @{
                    float subtotal = @item.Price * @item.Quantity;
                    total += subtotal;
                    totalQty += item.Quantity;
                }
                <td class="text-center">@subtotal</td>
            </tr>

        }
        <tr>
            <th class="text-center" style="font-size:1.5vw;">Total:</th>
            <td colspan="3"></td>
            <td class="text-center">@totalQty</td>
            <td class="text-center" colspan="2">@total</td>
        </tr>
    </tbody>
  
</table>
  <button onclick="return alert('Chuc mung ban da pass App Dev!')" style="margin-left:85%;" class="btn btn-info" type="submit"><i class="bi bi-credit-card"></i> Check Out</button>
