@model IEnumerable<PassAppDev.Models.Notification>

<h1>Notifications</h1>

<div class="dropdown show">
  <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="bi bi-bell-fill" style="color:black; font-size:1.5vw;"></i>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var item in Model){
    <tr class="dropdown-item">
       <td>
    @if (item.Decision == "APPROVED")
    {
      <partial class="alert alert-info">  
        Your request for @item.Action the book category "@item.CategoryName" has been <b>@item.Decision!</b>
      </partial>
    }
    else
    {
      <partial class="alert alert-danger">  
        Your request for @item.Action the book category "@item.CategoryName" has been <b>@item.Decision!</b>
      </partial>      
    }
      <partial>
        @item.NotifiedAt.ToShortTimeString() @item.NotifiedAt.ToShortDateString()
      </partial>
      </td>
    </tr>
  }
  </div>
</div>

